[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strawberry-graphql = {extras = ["debug-server"], version = "*"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
requests = "*"
requests-mock = "*"
feedparser = "*"
lxml = "*"
xmltodict = "*"
attrs = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.10"
